<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:font-family="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Konserwacje</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon_package_v0.16/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon_package_v0.16/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/userStyles/konserwacjeUserStyles.css"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../img/logo.png" alt="Energiolandia Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/atrakcje}">Atrakcje</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/main}">Strona główna</a></a>
                </li>

            </ul>
        </div>
        <ul class="navbar-nav">
            <form id="loginForm" method="post" th:action="@{/index}">
                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj
                    się
                </button>
            </form>
        </ul>
    </div>
</nav>

<div class="backgroundContainer">
    <div class="contentBox">
        <label>
            Konserwacje
        </label>
        <div class="tableContainer">
            <table cellpadding="10" frame="VOID">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Atrakcja</th>
                    <th>Pracownicy</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <colgroup>
                    <col>
                    <col style="width: 120px;">
                    <col>
                    <col>
                    <col style="width: 130px;">
                </colgroup>
                <tbody>
                <tr th:each="maintenance : ${maintenances}">
                    <td th:text="${maintenance.id}">ID</td>
                    <td th:text="${#dates.format(maintenance.date, 'dd-MM-yyyy')}">Data</td>
                    <td th:text="${maintenance.attraction.name}">Atrakcja</td>
                    <td th:text="${maintenance.employees}">Pracownicy</td>
                    <td colspan="2">
                        <a id="usun"  th:href="@{'/user/usunKonserwacje/' + ${maintenance.id}}">
                            Usuń
                        </a>
                        <a id="edytuj" th:href="@{'/user/edytujKonserwacje/' + ${maintenance.id}}">
                            Edytuj
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dodajButton">
            <button id="Dodaj" th:attr="onclick='window.location.href=\'' + @{/user/dodajKonserwacje} + '\''">
                Dodaj
            </button>
        </div>
    </div>
</div>
</body>
</html>